.banner {
  .banner__content {
    @include displayGrid(2, 0, 1rem);
    .banner__item {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        width: 100%;
        height: 7px;
        position: absolute;
        bottom: -7px;
        left: 0;
        background-color: $color-blue-0;
        transition: all 0.15s;
      }
      &:hover {
        &:after {
          bottom: 0;
        }
      }
    }
  }
}

@include responsive("medium") {
  .banner {
    .banner__content {
      @include displayGrid(4, 0, 1rem);
    }
  }
}
