%container {
  width: calc(100% - 60px);
  margin: 0 auto;
}
.container-big {
  @extend %container;
}
%placeholderItalic {
  font-style: italic;
  color: $color-white-0;
  // font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
